!!! 5
head
	title Skull.io test
	link(rel='stylesheet', type='text/css', href='../common/css/bootstrap-1.3.0.css')
	link(rel='stylesheet', type='text/css', href='../common/css/todos.css')
	include ../common/libs-include
	script(src='app/js/app.js')

body
	.container
		.content
			.page-header
				h1 Welcome, &nbsp;
					span.settings
						span.user-name 
							| Untitled
						input.user-name-edit(style='display: none', type='text')
					
					small &nbsp; Click to edit name

			.row
				.span8
					h3 Image demo
					p Click to change the URL of the image. When you change the URL, other users will instantly see the new image. When editing, the model is locked for other users. 
				.span8
					h3 Todo 
					p Add new todo items and notice how the changes are immediately broadcasted to everyone connected. Click an item to edit it and notice how locking works.
			.row
				.span8
					#app2
						form.form-stacked(action='javascript: false')
							fieldset
								.clearfix
									label(for='url') Image URL:
									.input
										input.span8(type='text', name='url', readonly='readonly')
						.image
							img.span8(src='http://placehold.it/580x580')
						

				.span8
					#app
						form.form-stacked(action='javascript: false')
							fieldset
								.clearfix
									label(for='new-item') What needs to be done?
									.input
										input.span4(type='text', name='new-item')
								.clearfix
									a.clear-completed(href='#') Clear completed
						ul.todos

					

script#one-todo-item(type='text/template')
	input(type='checkbox', name='done') 
	.title {{item.title}}
	input.span3.edit-title(style='display: none')