script(src='js/lib/jquery-1.6.2.js')
script(src='js/lib/console-dummy.js')
script(src='js/lib/underscore.js')
script(src='js/lib/backbone-debug-0.5.3.js')
script(src='/socket.io/socket.io.js')
script(src='js/module.js')
script(src='/skull.io/skull.io.js')
