script(src='../common/js/jquery-1.6.2.js')
script(src='../common/js/console-dummy.js')
script(src='../common/js/underscore.js')
script(src='../common/js/backbone-debug-0.5.3.js')
script(src='/socket.io/socket.io.js')
script(src='../common/js/module.js')
script(src='/skull.io/skull.io.js')
